@media screen and (max-width: 991px) {
  .nav-toggle {
    display: block;
  }
  .nav-links {
    left: 0;
    width: 100%;

    z-index: 1;
  }
  .nav-links-mobile {
    display: none;
  }
  ul {
    flex-direction: column;

    text-align: center;
    justify-content: center;
    
  }
  .mobile-hidden {
    display: none;
  }
  .cc {
    overflow: initial;
  }


}

/* Add these styles to your existing CSS file */

@media screen and (max-width: 767px) {
  .header-left {
    max-width: 100%;
  }
  .logo{
    width:60px;
    height:60px;
    cursor: pointer;
  }

  .card-section .card {
    max-width: 100%;

    margin: 10px;
  }
 

  .row {
    display: block;
  }
  .input1 {
    width: 100%;
  }
  .aboutus-section {
    width: 100%;
  }
  .input {
    width: 100%;
  }
  .input .homeforminput {
    border: none;
    background-color: #212733;
    border-bottom: 1px solid gray;
    width: 100%;
    color: white;
    
  }
}
